  /************ password.php *************/
.bajapasvalidador{
  width: 30%;
  min-width: 280px;
  height: 200px;
  border: 1px solid silver;
  margin:auto;
  display: table;
  background-color: #ffffff;
}
.bajapasvalidador h1{
	text-align: center;
	margin-bottom: 0px;
	font-size: 24px;
	font-weight: 600;
	/*color: #208220;*/
	color: #eb8308;
}
.bajapasvalidador form{
	text-align: center;
	padding: 20px 0px; 
}
.btnbutton{
	text-align: center !important;
	margin-top: 20px;
}
.btn{
	padding: 6px 70px !important;
	font-weight: 600 ;
}
.btnbutton .btn-success{
	background-color: #ff5400 !important;
	border: none !important;
}
.glyphicon-lock{
	margin-right: 5px;
	color: #545454;
}
label{
	border-bottom: 2px solid;
	margin-bottom: 10px !important;
}
.bajapasvalidador input{
	width: 70%;
	height: 40px;
	padding: 5px;
	text-align: center;
}
.bajapasvalidador input:focus{
	outline: 1px solid #ef8d5e;
}
p{
	margin: 0 !important;
    font-size: 10px;
    padding: 0 5px 0 5px;
    text-align: center;
    color: #999;
}
/********* PIN **********/
.generadorcodigo{
	text-align: center;
	font-size: 26px;
	padding-top:10px;
	color: #555; 
}
.bajapasvalidadorpin{
	width: 30%;
	min-width: 280px;
	height: 200px;
	border: 1px solid silver;
	margin:auto;
	display: table;
	background-color: #ffffff;
}
.bajapasvalidadorpin h1{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 24px;
	font-weight: 600;
	/*color: #208220;*/
	color: #eb8308;
}
.bajapasvalidadorpin form{
	text-align: center;
	padding: 20px 0px; 
}
.labeles{
	border:1px dashed #999;
	width: 50%;
	margin: auto;
	padding-top: 5px;
}

