@charset "UTF-8";
.make-publicc {
  padding-top: 10px;
}
.make-publicc label {
  margin-right: 10px;
}
.why-public:hover:after {
  content: 'Se recomienda leer los terminos y condiciones de las transacciónes';
  position: absolute;
  margin-left: 5px;
  background: #023e57;
  color: white;
  padding: 5px;
  border-radius: 3px;
  width: 150px;
  font-size: 13px;
  z-index: 10000;
 }
.public-notee-group {
  display: flex;
  flex-direction: column;
}
.note-msgg {
  color: #CCCCCC;
  font-weight: 100;
  font-size: 12px;
}
textarea {
  border-radius: 3px;
  border-color: #dddddd;
  height: 60px;
  width: 100%;
}
textarea:focus {
  outline: none;
}
.total-amountss {
  display: flex;
  flex-direction: column;
}
.amount-itemm {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
}
.amount-itemm p {
  margin: 0;
  flex: 1;
  color: #5d5d5d;
  font-size: 14px;
}
.amount-itemm span {
  font-size: 11px;
  margin-left: 10px;
  font-weight: 100;
}
.amount-itemm span:hover {
  cursor: pointer;
}
.amount-itemm span:hover:after {
  content: 'Nada en la vida es gratis, por tal motivo la pequeña comisión ayudara al mejor funcionamiento de la plataforma PagoZip';
  position: absolute;
  margin-left: 5px;
  background: #023e57;
  color: white;
  padding: 5px;
  border-radius: 3px;
  min-width: 100px;
  font-size: 12px;
  z-index: 10000;
}
.total-itemm {
  border-top: 1px solid RGBA(4, 4, 4, 0.1);
  border-radius: 3px;
}
.total-itemm p {
  color: #454443;
  font-weight: 600;
}
.montotal{
  font-weight: 600;
  font-size: 21px !important;
  color: #318b00 !important;
}
input[readonly="readonly"] {
  color: #eb8308;
  margin-left: 10px;
  border-bottom: none !important;
}
.availablee {
  color: #CCCCCC;
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 100;
  font-size: 13px;
}
.actionss {
  border-top: 1px solid #EEEEEE;
  padding: 2em;
  display: flex;
  justify-content: flex-end;
}
.actionss .cancelartr {
  border: none;
  background: transparent;
  color: #CCCCCC;
  margin-right: 10px;
}
.actionss .siguientetr {
  background: #595959;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 8px 12px;
}
.actionss .siguientetr:hover {
  text-decoration: none;
  background: #404040;
}
.actionss .siguientetr.send {
  padding: 12px 36px;
  background: #8CCA6A;
}
.actionss .siguientetr.send:hover {
  text-decoration: none;
}
button:focus {
  outline: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.label {
  color: #0498D4;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
}
.btc-amount {
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btc-amount label {
  margin: 0;
  color: #595959 !important;
}
.btc-amount input {
  border: none;
  background: transparent;
}
.btc-amount input:focus {
  outline: none;
}
.amount-fieldd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amount-fieldd label {
  margin-right: 10px;
}
.hidee {
  display: none !important;
}
.hidden {
  opacity: 0;
}
.to-fieldd, .public-notee {
  position: relative;
}
.to-fieldd label, .public-notee label {
  margin-bottom: 15px;
}
.cantidisptr{
  font-weight: 600;
  color: #1b8d05;
}
.btc,{
  display: flex;
  flex-direction: column;
}
.control-groupp {
  padding: 1em 2em;
  background: white;
}
.control-groupp input[type="text"] {
  border: none;
  background: transparent;
  padding: 8px 0;
  border-bottom: 1px solid #CCCCCC;
  min-width: 100%;
}
.control-groupp input[type="text"]:focus {
  outline: none;
  -webkit-appearance: none;
}
.control-groupp label {
  color: #595959;
}
.stepp {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  padding-right: 14px;
}
.form-titlee {
  color: #0498D4;
  padding: 1em 2em;
}
.form-titlee h5 {
  font-weight: 100;
  color: #b3b3b3;
  margin-bottom: 5px;
  margin-top: 0;
}
.form-titlee .headerr {
  display: flex;
  align-items: center;
}
.form-titlee img {
  width: 50px;
  height: 50px;
  margin-right: 25px;
}
.form-titlee h2 {
  font-weight: 600;
}
.form-wrapperx {
  box-shadow: 0 5px 1px 0 rgba(0, 40, 68, 0.4);
  border-radius: 3px;
  background: #F5F7F9;
  position: relative;
  margin: auto;
  width: 40%;
  border: 1px solid #c8c8c8;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-input-placeholder {
  color: #CCCCCC;
}
html, body {
}
@-webkit-keyframes collapse {
  10% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(0.7);
  }
  40% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(0.6);
  }
  70% {
    transform: scale(0.7);
  }
  80% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 767px) {
    .form-wrapperx {
      width: 90%;
    }
  .amount-itemm span:hover:after {
  content: 'Nada en la vida es gratis, por tal motivo la pequeña comisión ayudara al mejor funcionamiento de la plataforma PagoZip';
  position: absolute;
  margin-left: 5px;
  margin-left: 5px;
  background: #023e57;
  color: white;
  padding: 5px;
  border-radius: 3px;
  min-width: 50px;
  font-size: 10px;
  z-index: 10000;
}
  }