/*++++++++++++++++++++++++++inicio Nuevo diseño+++++++++++++++++++++++++++++++++*/
*{
	margin: 0 !important;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	font-family: Source Sans Pro,Roboto,Helvetica,Arial,sans-serif;
	left: 0;
	top: 0;
}
/*++++++++++ inicio modificacion estilos bootstrap general+++++++++++++++*/
.container-fluid {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.container{
	max-width: 100% !important; 
}
.contenedor-internopweb {
	padding-right: 5px !important;
    padding-left: 5px !important;
}
.contenedor-internopweb .col-10, .col-2{
	padding-right: 2px !important;
    padding-left: 2px !important;
}
.contenedor-internopweb h3{
	width: 100%;
	font-size: 16px;
	font-weight: 600;
	padding-left: 15px !important;
	padding-bottom: 3px!important;
	margin-bottom: 15px !important;
	border-bottom: 1px solid rgb(0,0,0,.1);
	line-height: 1.5 !important;
	color: rgb(0,0,0,.7);

}
.contenedor-internopweb h3 i{
	font-size: 22px;
	position: relative;
	top: 4px;
	margin-right: 3px !important;
}

/*++++++++++ fin modificacion estilos bootstrap general+++++++++++++++*/
/*******inicio del menu izquierdo*********/
.menu-panelweb{
	width: 15%;
	display: inline-block;
	height: 100vh;
	float: left;
	position: fixed;
	top: 0;
	overflow: hidden;
	background-color: #082734;
	-webkit-box-shadow: 5px 0 18px #bdbdbd;
	box-shadow: 5px 0 18px #bdbdbd;
}
.menu-panelweb .header-menu{
	background-color: red;
	display: block;
	height: 40px;
}
.menu-panelweb .perfil-menu{
	background-color: #082734;
	width: 100%;
	margin: 0 auto !important;
	display: block;
	padding: 5px;
	border-bottom: 1px solid rgba(255,255,255,.3);
	webkit-box-shadow: 0px 3px 5px 0px 0 rgba(255,255,255,.2);
    box-shadow: 0px 3px 5px 0px rgba(255,255,255,.2);
}
.menu-panelweb .perfil-menu .imgperfil-menuweb{
	text-align: center;
	width: 95%;
	margin: 0 auto !important;
	padding: 5px;
	height: 40px;
}
.menu-panelweb .perfil-menu .imgperfil-menuweb img{
	height: 60px;
	position: relative;
	top: 0px;
	-webkit-border-radius: 50px 50px 50px 50px;
	border-radius: 50px 50px 50px 50px;
	border: 3px solid #e5e5e5;
}
.menu-panelweb .perfil-menu .infoperfil-menuweb{
	background-color: #e5e5e5;
	width: 95%;
	margin: 0 auto !important;
	padding: 25px 0px 5px 5px;
	text-align: center;
	border: 1px solid #fff;
	-webkit-border-radius: 5px 5px 2px 2px;
	border-radius: 5px 5px 2px 2px;
}
.menu-panelweb .perfil-menu .infoperfil-menuweb span{
	line-height: 1.3;
	display: block;
	color: #212529;
}
.menu-panelweb .perfil-menu .infoperfil-menuweb span.infopmw-nombre{
	font-size: 14px;
	font-weight: 600;
}
.menu-panelweb .perfil-menu .infoperfil-menuweb span.infopmw-correo{
	font-size: 10px;
}
.menu-panelweb .perfil-menu .btnperfil-menuweb{
	width: 95%;
	margin: 0 auto !important;
	padding: 5px;
	text-align: center;
}
.menu-panelweb .perfil-menu .btnperfil-menuweb button{
	font-size: 10px;
    font-weight: 600;
    padding: 2px 8px;
    border: 1px solid #fff;
    line-height: 1.1;
    background: #f1f1f1;
    color: #082734;
    margin-right: 5px !important;
}
.menu-panelweb .perfil-menu .btnperfil-menuweb button i{
	font-size: 10px;
    position: relative;
    top: 1px;
    margin-right: 3px !important;
}
/*
.menu-panelweb .contenedor-menu ul li a:hover{
	background-color: #29444f;
	border-left: 3px solid #00618a;
}

*/
.menu-panelweb .contenedor-menu nav ul{
	padding: 0px !important;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
.menu-panelweb .contenedor-menu nav ul li {
	display: block;
	position: relative;
	color: #f1f1f1;
}
.menu-panelweb .contenedor-menu nav ul li a{
	color: #f1f1f1;
	display: block;
	text-decoration: none;
	padding: 10px;
	font-size: 12px;
	font-weight: 400;
}
.menu-panelweb .contenedor-menu ul li a:hover{
	background-color: #29444f;
	border-left: 3px solid #00618a;
}

.menu-panelweb .contenedor-menu ul li a i{
	font-size: 18px;
	margin-right: 6px !important;
	position: relative;
	top: 4px;
}
.menu-panelweb .contenedor-menu nav ul .sub-catgweb{
	display: none;
	position: relative;
}
.menu-panelweb .contenedor-menu nav ul .sub-catgweb li a{
	display: block;
	padding: 12px 12px 12px 30px;
}
.menu-panelweb .contenedor-menu nav .menupweb .activado > a{
	background-color: #29444f;
}
.menu-panelweb .contenedor-menu nav ul li span{
	position: relative;
	top: 1px !important;
	float: right;
}
.menu-panelweb .contenedor-menu nav i.icofweb{
	display: none;
	color: #f1f1f1;
	fill:#f1f1f1;
}
.menu-panelweb .contenedor-menu nav i.icof1web{
	display: block;
	color: #f1f1f1;
	fill: #f1f1f1;
}
.menu-panelweb .contenedor-menu nav.navscroll{
	overflow-y: auto;
	height: 70vh;  
}

.navscroll::-webkit-scrollbar {
	width: 7px;
    border-radius: 4px;
}
.navscroll::-webkit-scrollbar-thumb {
	
    background: #d2d2d2;
    border-radius: 4px;
}
.navscroll::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
    
}
/*******fin del menu izquierdo*********/
/*******inicio del contenido principal*********/
.contenedor-panelweb{
	width: 85%;
	display: inline-block;
	background-color: #f1f1f1;
	float: right;
}
/********inicio de header de cpntenedor**********/
.contenedor-panelweb .header-contenidopweb{
	width: 100%;
	padding: 5px;
	height: 40px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.contenedor-panelweb .header-contenidopweb .cont-headerpweb{
	width: 100%;
	text-align: right;
}
.contenedor-panelweb .header-contenidopweb .cont-headerpweb ul{
	margin-right: 10px !important;
}
.contenedor-panelweb .header-contenidopweb .cont-headerpweb ul li{
	display: inline-block;
	list-style: none;
	text-align: left;
	padding: 1px 10px;
	font-size: 12px;
	vertical-align: top;
}
.contenedor-panelweb .header-contenidopweb .cont-headerpweb span.horasispw{
	background-color: ;
	padding: 6px;
	color: rgba(0,0,0,.5);
}
.contenedor-panelweb .header-contenidopweb .cont-headerpweb span.horasispw-1{
	background-color: ;
	padding: 6px;
	color: rgba(0,0,0,.5);
}
.contenedor-panelweb .header-contenidopweb .cont-headerpweb span.horasispw-1 i{
	font-size: 28px;
}
.contenedor-panelweb .header-contenidopweb .cont-headerpweb span.horasispw i{
	font-size: 20px !important;
	position: relative;
	top: 5px;
	margin-right: 3px !important;
}
.contenedor-panelweb .header-contenidopweb .cont-headerpweb .badge-secondary{
	position: relative;
	top: -20px;
	padding: 3px 5px !important;
	background-color: red !important;
	font-size: 10px !important;
}
/********fin de header de contenedor**********/
/********inicio de contenido secundario**********/
.contenedor-internopweb{
	margin-top: 15px !important;
}
.contenedor-internopweb .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
	font-size: 14px;
}
.contenedor-internopweb .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link i{
	font-size: 20px;
	line-height: 1;
	position: relative;
	top: 4px;
	margin-right: 3px !important;
}
.contenedor-internopweb .tab-content{
	margin-top: 10px !important;
}
/********fin de contenido secundario**********/
/**********inicio productos publicacion de productos we******************/

.contenedor-internopweb .est-table-adp table tr th{
	font-size: 12px;
	padding: 6px !important;
}
.contenedor-internopweb .est-table-adp table tr td{
	padding: 6px !important;
	font-size: 14px;
	line-height: 2.5 !important;
}
.contenedor-internopweb .est-table-adp table tr td button{
	font-size: 12px;
	padding: 1px 24px;
}
.contenedor-internopweb .est-table-adp table tr td button i{
	position: relative;
	top: 2px;
	color: #f1f1f1;
}
.contenedor-internopweb .est-table-adp table img{
	height: 30px;		

}
/**********fin productos publicacion de productos we******************/
/*****Inicio de aside panel web*****/
.asidepweb{
	padding-top: 30px;
}

.asidepweb .card-header{
	background-color: #082734;
	color: #f1f1f1;
	-webkit-border-radius: 6px 6px 0px 0px !important;
	border-radius: 6px 6px 0px 0px !important;
	padding: 10px 20px;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

.asidepweb .list-group-item {
	padding: 6px !important;
}
.asidepweb .list-group-item .list-p1{
	width: 28%;
	display: inline-block;
	vertical-align: top;
}

.asidepweb .list-group-item .list-p2{
	width: 70%;
	display: inline-block;
	vertical-align: top;
}
.asidepweb .list-group-item .list-p2 p{
	font-size: 12px;
	font-weight: 600;
	line-height: 1.2;
	padding-left: 5px;
	color: #28a745;
}
.asidepweb .list-group-item .list-p2 .p-publi{
	color: rgba(0,0,0,.7);
	text-transform: uppercase;
}
.asidepweb .list-group-item .list-p2 .p-desp{
	color: rgba(0,0,0,.7);
	text-transform: uppercase;
}
.asidepweb .list-group-item .list-p2 p.nro-pyd{
	font-size: 16px;
	float: right;
	color: #28a745;
}
.asidepweb .list-group-item .list-p2 p.nro-pyd-desp{
	font-size: 16px;
	float: right;
	color: #dc3545;
}
.asidepweb .list-group-item .list-p2 p.nro-pyd span{
	font-size: 10px;
}.asidepweb .list-group-item .list-p2 p.nro-pyd-desp span{
	font-size: 10px;
}
.asidepweb .list-group-item span {
	padding: 5px 5px;
	width: 100%;
}
.asidepweb .list-group-item i {
	line-height: .7 !important;
	position: relative;
	top: 5px;
	font-size: 23px;
}
/*****fin de aside panel web*****/
/*******fin de contenido principal*********/
/*+++++++++++++++++++++++++++++++++++++++inicio areaa local+++++++++++++++++++++++++++++++++++++++++++++*/
.contenedor-internopweb .asidecrearlocal{
	height: 100%;
	height: 82vh;
	overflow: scroll;
}
.contenedor-internopweb .tablas-resultado-izq{
	padding-right: 0px !important;
    padding-left: 10px !important;
}
.contenedor-internopweb .tablas-resultado-izq .col-sm-12{
	padding-right: 0px !important;
    padding-left: 0px !important;
}
.contenedor-internopweb .tablas-resultado-izq .custom-select{
	width: 52% !important;
	font-size: 10px !important;
}
.contenedor-internopweb .tablas-resultado-izq div.dataTables_length label{
	font-size: 10px !important;
}
.contenedor-internopweb .tablas-resultado-izq div.dataTables_filter label{
	font-size: 10px !important;
}
.contenedor-internopweb .tablas-resultado-izq div.dataTables_wrapper div.dataTables_filter input{
	font-size: 10px !important;
}
.contenedor-internopweb .tablas-resultado-izq div.dataTables_info{
	font-size: 10px !important;
	padding-top: 1px !important;
}
.contenedor-internopweb .tablas-resultado-izq div.dataTables_paginate ul.pagination {
	font-size: 10px;
}
.contenedor-internopweb .tablas-resultado-izq .page-link{
	line-height: 1;
}
.contenedor-internopweb .tablas-resultado-izq table th{
	font-size: 10px;
	text-align: center;
	padding: 3px !important;
	background-color: #e0dede;
}
.contenedor-internopweb .tablas-resultado-izq table td{
	font-size: 12px;
	padding: 3px !important;
}
.contenedor-internopweb .contendedorlocal{
	overflow: scroll;
	height: 82vh;

}

/*contenedor producto*/
.border-cont{
	border: 1px solid rgba(0,0,0,.1);
	margin-right: 5px !important;
	margin-top: 5px !important;
	padding: 5px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	height: 130px;
}
.border-cont-1{
	border: 1px solid rgba(0,0,0,.1);
	margin-right: 5px !important;
	margin-top: 8px !important;
	padding: 8px 5px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}
.contendedorlocal .cont-producto{
	padding-right: 0px !important;
	padding-left: 0px !important;
	font-size: 10px;
}
.cont-producto .mpg-cont{
	padding-right: 5px !important;
	padding-left: 5px !important;
}
.mpg-select-1{
	padding-right: 0px !important;
}
.mpg-select{
	padding-left: 0px !important;
}
.cont-producto .mpg-cont1{
	padding-right: 5px !important;
	padding-left: 5px !important;
}
.cont-producto .mpg-cont-label{
	padding-right: 2px !important;
	padding-left: 2px !important;
}
.cont-producto .form-control{
	font-size: 12px;
	padding: 3px;
	height: calc(1.2em + .75rem + 2px);
}
.img-qrp{
	width: 100%;
	height: 120px;
	text-align: center;
	padding: 5px;
	background-color: #edebeb;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}
.img-qrp img{
	height: 100px;
	margin: 0 auto;
	margin-top: 5px !important;
}
.add-img{
	width: 100%;
	height: 120px;
	background-color: #edebeb;
	text-align: center;
	padding: 5px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}
.add-img button{
	padding: 5px 20px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	margin-top: 5px !important;
	border: 1px solid rgba(0,0,0,.1);
}
.add-img button i{
	font-size: 70px;
}
.mpg-g{
	padding-left: 0px !important;
	padding-right: 0px !important;
	overflow-y: scroll;
	height: 94px;
}
.mpg-g table{
	font-size: 10px !important;
}
.mpg-g table td{
	font-size: 10px !important;
	line-height: 1.5 !important;
	padding: 2px !important;
}
.cont-producto .mpg-g table th{
	font-size: 10px !important;
	padding: 2px !important;
	background-color: #e0dede;
}
.btn-cp{
	text-align: center;
}
.btn-cp button {
	border:1px solid rgba(0,0,0,.2);
	background-color: #f1f1f1;
	color: #000;
	font-size: 14px;
	margin-right: 5px !important;
}
.btn-cp button i{
	position: relative;
	font-size: 18px;
	top: 3px !important;
	margin-right: 3px !important;
	color: #7d7d7d;
}
.estilo-anc td button.accion-table{
	padding: 1px 6px !important;
	display: inline-block;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 3px 3px 3px 3px;
}
.estilo-anc td button i{
	font-size: 12px;
}
/*contenedor producto*/
/*******inicio contenedor impuestos********/
.estilo-imp input[type="text"]{
	display: inline-table !important;
	width: 50% !important;
}
.estilo-imp button{
	font-size: 12px;
	
	border: 1px solid rgba(0,0,0,.1);
	margin-left: 2px !important;
	vertical-align: bottom;
}
.estilo-imp button i{
	font-size: 20px;
	line-height: .7;
	position: relative;
	top: 3px;
}
.estilo-imp .pcj{
	margin-left: 5px !important;
}
.estilo-imp td button.accion-table{
	padding: 1px 6px !important;
	display: inline-block;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 3px 3px 3px 3px;
}
.estilo-imp td button i{
	font-size: 12px;
}
.btn-table1{
	padding: 2px 12px !important;
}
/*******fin contenedor impuestos********/
/********usuaruio y tipo de usuario******/
.table-tipo-usu{

}
.table-tipo-usu th{
	padding: 6px !important;
	background-color: #e0dede;
	text-align: center;
}
.table-tipo-usu td{
	padding: 5px !important;
}
.table-tipo-usu td label{
	text-align: center;
	width: 100%;
}
/********usuaruio y tipo de usuario******/
/**********inicio inventario compras*********/
.estilos-comp-1 .input-b{
	width: 70% !important;
	display: inline-block !important; 
}
.estilos-comp-1 label{
	display: block !important; 
}
.estilos-comp-1 button{
	font-size: 12px;
    border: 1px solid rgba(0,0,0,.1);
    margin-left: 2px !important;
    vertical-align: bottom;
}
.estilos-comp-1 button i{
	font-size: 19px;
    line-height: .7;
    position: relative;
    top: 5px;
}
.estilos-comp-1 .compra-prov-btn{
	margin-top: 5px !important;
}
.estilos-comp-1 .compra-fact-btn{
	margin-top: 2px !important;
	margin-bottom: 2px !important;
	padding-right: 0px !important;
    padding-left: 0px !important;
}
.estilos-comp-1 .rest-btn-fact{
	flex: 0 0 26% !important;
	padding-right: 0px !important;
    padding-left: 0px !important;
}
.estilos-comp-1 .cant-prod{
	display: inline-block !important;
	width: 90% !important;
}
.estilos-comp-1 span{
	margin-left: 5px !important;
}
.estilos-comp-1 .btn-table2{
    padding: 2px 30px !important;
}
.estilos-comp-1 .btn-table2 i{
	margin-right: 3px !important;
}
.estilos-comp-1 .table th {
    padding: 1px !important;
    text-align: center;
    background-color: #9a9a9a;
    color: #f1f1f1;
    font-weight: 400;
}
.estilos-comp-1 .table td {
    padding: 1px !important;
    text-align: right !important;
}
.estilos-comp-1 .h-tabla-compra{
	height: 120px;
	overflow-y: scroll;
}
.estilos-comp-1 .h-tabla-compra1{
	height: 90px;
	overflow-y: scroll;
}
.estilos-comp-1 .btn-imps{
	font-size: 17px !important;
	padding: 10px;
}
.h-dimp-2{
	height: 120px !important;
}
.h-dimp-3{
	margin-top: 30px !important;
}
.total-comp-01{
	font-size: 16px;
	font-weight: 600;
	color: red;
}
.total-comp-01 input{
	color: red;
	font-size: 18px !important;
}
/**********fin inventario compras*********/
/*+++++++++++++++++++++++++++++++++++++++fin areaa local+++++++++++++++++++++++++++++++++++++++++++++*/
/******inicio cambios estilos data table********/
div.dataTables_length label{
	font-weight: normal;
    text-align: left;
    white-space: nowrap;
    font-size: 12px;
}
div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    font-size: 12px;
}
div.dataTables_filter {
    text-align: right;
}
div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
    font-size: 12px;
}
table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}
div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
}
table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after {
    opacity: 1;
}
div.dataTables_info{
	font-size: 12px;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    margin-left: 10px !important;
    font-size: 12px !important;
}
.custom-select-sm {
    font-size: 12px !important;
}
/******fin cambios estilos data table********/

/*++++++++++++++++++++++++++fin Nuevo diseño+++++++++++++++++++++++++++++++++*/